

.grid-container{
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 3rem;
  height: 100%;
}

#container { display: flex; flex-direction: column; }
#down { flex-grow: 1; }

.header{
  grid-area: header;
  background-color: #130620;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1vw;
}

.header-right{
  margin-left: auto;
  align-items: center;
  font-size: 1vw;
  justify-content: center;
}

.brand a{
  color: #ffffff;
  font-size: 2.8vw;
  font-weight: bold;
  text-decoration: none;
}

.header-side{
  padding-left: 1rem;
  font-size: 1vw;
  padding-top: 1rem;;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #c954ff, rgb(221, 17, 221), #6a82fb);
}

.footer{
  grid-area: footer;
  background-color: #130620;
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 1vw;
  align-items: center;
}

.content{
  display: flex;
  flex-grow: 1;
}

/*Home Screen*/
.home{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

}
.menu-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-list a {
  padding: 0rem;
  margin: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
}

.menu-list li
{
  display: flex;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 15vh;
}

.menu-list p {
  font-size: 2vw;
}

.section a {
  color: #ffffff;
  font-weight: bold;
  font-size: 2vw;
  text-decoration: none;
}

.about {
  background-image: linear-gradient(to right, cyan, magenta);
}

.contacts {
  background-image: linear-gradient(to right, fuchsia, turquoise);
}

.projects{
  background-image: linear-gradient(to right,  turquoise, fuchsia);

}
.question-box {
  background-image: linear-gradient(to right, magenta, aqua);
}

.home-main-image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 45%;
}
.home-main-image img{

  max-width: 80%;
}

.fade-in {
  animation: fadeIn ease 2s;

}
.button{
  background-image: linear-gradient(to right, cyan, magenta);
  border: none;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: .5rem;
}
.fixed-bottom{
  position: fixed;
  bottom:2%;
  right:2%;
  padding: 0%;
  padding-right: 1%;
  padding-left: 1%;
  font-size: auto;

}
/*About*/
.corp-list{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.logo-list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-bottom: 10rem;
}

.about-list{
  width: 37rem;
  max-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20rem;
}

.logo-list img {
  margin-right: 10rem;
  margin-top: 3rem;
}

.logo {
  width: 100%;
  max-height: auto;
  max-width: 18vw;
  min-height: 5vh;
}

.text-space{
  text-align: center;
  padding-bottom: 35rem;
  padding-top: 35rem;
}

.paragraph {
  font-size: 1.8vw;
  padding-left: 1rem;
}

.bold {
  font-size: 2.5vw;
}

.title {
  font-size: 5rem;
}


.list-intro {
  font-size: 2.5vw;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media only screen and (max-width: 740px) {
  .title{
    font-size: 1.6vw;
  }
}
.paragraph-group{
  padding-bottom: 40rem;

}
.paragraph-limiter{
  padding-left: 4vh;
  padding-right: 4vh;
}

.centered{
  justify-content: center;
  text-align: center;
}

.p-with-address{
  display: inline-block;
}

.justify-center{
  text-align: center;
  text-align-last: center;
}

.contact-title-section{
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.padding-list{
 padding-left: 2rem;
}
.red{
  color: red;
  text-decoration: underline;
}
.table-contact{
  width: 100%;
  font-size: 1.5vw;
}
.table-contact, th, td{
  border: .3rem solid black;
  border-collapse: collapse;
}
.project-table {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 10rem;
}
.question-title-section{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  flex-grow: 1;
  width: 80%;
  height: 100%;
  padding-bottom: 10vh;
}
.question-text-area{
  width: 100%;
  height: 90%;
  font-size: 2vh;
}

.send-btn{
  align-self:flex-end;
  justify-self: flex-end;
}

.text-centered {
  display: flex;
  justify-content: center;
}


@keyframes fadeIn {
  from {transform: translateY(-10rem); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}
