.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 3rem;
  height: 100%;
}

.header{
  grid-area: header;
  background-color: #130620;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.header-right{
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.brand a{
  color: #ffffff;
  font-size: 3rem;
  font-size: 2.8vw;
  font-weight: bold;
  text-decoration: none;
}

.header-side{
  padding-left: 1rem;
  padding-top: 1rem;;
}

.main {
  grid-area: main;
  background-image: url("res/background_min.jpg");
}

.footer{
  grid-area: footer;
  background-color: #130620;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Home Screen*/
.home{
  display: flex;
}
.menu-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 49%;
  height: 100%;
}

.menu-list a {
  padding: 0rem;
  flex: 0 1 60rem;
  margin: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
}

.menu-list li
{
  display: flex;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.menu-list p {
  font-size: 2vw;
}

.section a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.about {
  background-image: linear-gradient(to right, cyan, magenta);
}

.contacts {
  background-image: linear-gradient(to right, fuchsia, turquoise);
}

.projects{
  background-image: linear-gradient(to right,  turquoise, fuchsia);

}
.question-box {
  background-image: linear-gradient(to right, magenta, aqua);
}

.home-main-image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 45%;
}
.home-main-image img{
  
  max-width: 99%;
}

.fade-in {
  animation: fadeIn ease 2s;

}
.button{
  background-image: linear-gradient(to right, cyan, magenta);
  border: none;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size:large;
  padding: .5rem;
}
/*About*/
.corp-list{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
 
.logo-list{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-bottom: 10rem;
}

.logo-list img {
  margin-right: 10rem;
  margin-top: 3rem;
}

.logo {
  max-width: 25rem;
  max-height: 30rem;
}

.text-space{
  text-align: center;
  padding-bottom: 35rem;
  padding-top: 35rem;
}

.paragraph {
  font-size: 24pt;
  padding-left: 1rem;
}

.bold {
  font-size: 30pt;
}

.title {
  font-size: 40pt;
}
.list-intro {
  font-size: 30pt;
  padding-left: 2rem;
}
.paragraph-group{
  padding-bottom: 40rem;

}
.paragraph-limiter{
  padding-left: 40rem;
  padding-right: 40rem;
}

.centered{
  justify-content: center;
  text-align: center;
}

.p-with-address{
  display: inline-block;
}

.justify-center{
  text-align: justify;
  text-align-last: center;
}

.contact-title-section{
  padding-top: 10rem;
  padding-bottom: 20rem;
}

.padding-list{
 padding-left: 2rem;
}
.red{
  color: red;
  text-decoration: underline;
}
.table-contact{
  width: 100%;
  font-size: 1.5vw;
}
.table-contact, th, td{
  border: .3rem solid black;
  border-collapse: collapse;
}
.project-table {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 10rem;
}


@keyframes fadeIn {
  from {transform: translateY(-10rem); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}